<div class="modal-header">
    <h4 class="modal-title">Group</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    </button>
</div>
<form (ngSubmit)="submitForm()" id="f_Group" novalidate #f="ngForm">
    <div class="modal-body">
        <div class="form-group" [ngClass]="{
            'has-danger': gname.invalid && (gname.dirty || gname.touched),
            'has-success': gname.valid && (gname.dirty || gname.touched)
        }">
            <label>Name</label>
            <input type="text" class="form-control" name="gname" [(ngModel)]="group.name" required #gname="ngModel">
            <span class="alert-danger" *ngIf="gname.errors && (gname.dirty || gname.touched)">
                <p *ngIf="gname.errors.required">Name is required</p>
            </span>
        </div>

        <div class="form-group">
            <label>Description</label>
            <input type="text" class="form-control" name="decr" [(ngModel)]="group.description">
        </div>

        <div class="form-group">
            <label>Contacts</label>
            <ng-multiselect-dropdown [placeholder]="'Select contacts'" [data]="dropdownList" [(ngModel)]="group.contacts" [settings]="dropdownSettings"
                (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)" [ngModelOptions]="{standalone: true}">
            </ng-multiselect-dropdown>
        </div>
    </div>


    <div class="modal-footer">
        <button class="btn btn-primary" type="submit">
            Save
        </button>
    </div>
</form>